.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar-left {
   
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navbar-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 1px;
}


.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-weight: 500;
  color: #444;
  transition: all 0.3s ease;
}

.navbar-links li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar-links li:hover {
  color: #e63946;
}

.navbar-links .active {
  color: #e63946;
}


.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  color: #555;
  padding-right:90px ;
}

.icon {
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon:hover {
  color: #e63946;
}


.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}


@media (max-width: 1024px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-links {
    gap: 1.2rem;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .navbar-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease-in-out;
  }

  .navbar-icons {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar-title {
    font-size: 1rem;
  }

  .navbar-logo {
    width: 32px;
    height: 32px;
  }
}
